/* ----------------------------------------------------------------------------*/
/* -- DETAILVIEW: ENERGIEDATEN  -----------------------------------------------*/
/* ----------------------------------------------------------------------------*/

/*
    - Verbrauchsgrafik
    - Energietraeger
    
------------------------------------------------------------------------------*/

input[name="endenergiewert"] {
    position: relative;
    z-index: 20;
    background-color: transparent !important;
    padding-right: 83px;
}

input.input-validation-error[name="endenergiewert"] {
    background-color: #ff5a545e !important;
}

/* Verbrauchsgrafik */

.verbrauchsgrafik {
    width: 100%;
    margin-top: 45px;
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
    -webkit-transition: filter 0.5s ease-in-out, opacity 0.5s ease-in-out;
    -moz-transition: filter 0.5s ease-in-out, opacity 0.5s ease-in-out;
    -o-transition: filter 0.5s ease-in-out, opacity 0.5s ease-in-out;
    transition: filter 0.5s ease-in-out, opacity 0.5s ease-in-out;

    .skala {
        height: 20px;
        width: 100%;
        background: #24ff00; /* Old browsers */
        background: -moz-linear-gradient(left, #24ff00 10%, #8dff00 20%, #b9ff00 30%, #e6ff00 40%, #fbff00 50%, #fff100 60%, #ffd700 70%, #ff7b00 80%, #ff3900 90%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left, #24ff00 10%,#8dff00 20%,#b9ff00 30%,#e6ff00 40%,#fbff00 50%,#fff100 60%,#ffd700 70%,#ff7b00 80%,#ff3900 90%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, #24ff00 10%,#8dff00 20%,#b9ff00 30%,#e6ff00 40%,#fbff00 50%,#fff100 60%,#ffd700 70%,#ff7b00 80%,#ff3900 90%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#24ff00', endColorstr='#ff3900',GradientType=1 ); /* IE6-9 */
        &.oben {
            position: relative;
            border-radius: 5px 5px 0px 0px;
        }

        &.unten {
            border-radius: 0px 0px 5px 5px;
            box-shadow: 1px 2px 6px 0px rgba(0,0,0,.15);
            -webkit-box-shadow: 1px 2px 6px 0px rgba(0,0,0,.15);
            -moz-box-shadow: 1px 2px 6px 0px rgba(0,0,0,.15);
        }

        .energieeffizienzklasse {
            span {
                width: 11.1%;
                float: left;
                text-align: center;
                border-right: 1px solid #fff;
                line-height: 14px;
                font-size: 14px;
                padding: 3px 0px;

                &.bold {
                    font-weight: bold;
                }

                &:last-child {
                    border-right: none;
                }
            }
        }

        .arrow {
            height: 28px;
            width: 16px;
            background-image: url(~/../dist/images/arrow.svg);
            background-repeat: no-repeat;
            position: absolute;
            bottom: 20px;
            margin-left: -9px;
            -webkit-transition: left 1s ease-in-out, opacity 0.5s ease-in-out;
            -moz-transition: left 1s ease-in-out, opacity 0.5s ease-in-out;
            -ms-transition: left 1s ease-in-out, opacity 0.5s ease-in-out;
            -o-transition: left 1s ease-in-out, opacity 0.5s ease-in-out;
            transition: left 1s ease-in-out, opacity 0.5s ease-in-out;
            opacity: 1;
        }
    }

    .values {
        height: 12px;
        position: relative;
        margin-left: -5%;
        margin-right: -5%;

        span {
            position: relative;
            width: 10%;
            display: inline-block;
            overflow: hidden;
            text-align: center;
            float: left;
            line-height: 13px;
            font-size: 10px;
            height: 13px;

            &:last-child {
                text-indent: -2%;
            }
        }

        &.nichtwohngebaeude span {
            width: 16.4%;
            &:first-child {
                text-indent: -5%;
            }
        }
    }

    &.gray {
        -webkit-filter: grayscale(1);
        filter: grayscale(1);
        opacity: 0.3;

        .skala {
            .energieeffizienzklasse span.bold {
                font-weight: normal;
            }

            .arrow {
                opacity: 0.5;
            }
        }
    }
}

/* Energietraeger */

.energietraeger {
    display: inline-block;
    border-top: 1px solid #ccc;
    padding-top: 40px;
    margin-top: 20px;
    width: 100%;
}
