@import '../abstracts/_variables.scss';

/* -- MEDIA ------------*/

/* --- ROTATION_LOADER ------------*/

.rotation_loader {
    background-color: #FFF;
    position: absolute;
    z-index: 50;
    height: 100%;
    top: 0;
    opacity: 0.7;

    .loader {
        height: 100% !important;
        width: 40%;
        left: 0;
        right: 0;
        margin: 0 auto;
    }
}



/*-----Upload Feld*/
.image_upload_container {
    margin-right: -6%; /* Ausgleich von margin im jeden zweiten Bild. Verwendung von n:child verursacht Fehler! */
}

.upload_field.big {
    width: 100%;
    border: 1px solid #333;
    padding: 20px;
    cursor: pointer;
    border-radius: 3px;

    &:hover {
        background-color: #eee;

        .inputfile + .uploader_field {
            background-color: #eee;
        }
    }

    p {
        padding-bottom: 0px;
    }
}

.upload_images_energy {
    float: left;
    width: 15%;

    &::before {
        content: '\e856';
        font-family: fontello;
        font-size: 40px;
        color: #777;
        margin-right: 5px;
        position: relative;
        top: 5px;
    }
}

.upload_images_image {
    float: left;
    width: 15%;

    &::before {
        content: '\e854';
        font-family: fontello;
        font-size: 35px;
        color: #777;
        position: relative;
        top: 5px;
    }
}

.inputfile + .uploader_field {
    background-color: white;
    display: inline-block;
    font-size: 16px;
    width: 80%;
    margin-top: 4px;
}

input.inputfile {
    display: none;
}

.inputfile + .uploader_field:hover,
label.uploader_field:hover {
    cursor: pointer;
}

.inputfile + .uploader_field:visited, .inputfile + .uploader_field:focus {
    cursor: pointer;
    background-color: white !important;
}

.inputfile:focus + label {
    background-color: white;
}



/*-----Hochgeladene Bilder */
.placeholder_image {
    float: left;
    width: 44%;
    margin-right: 6%;
    margin-bottom: 6%;
    position: relative;
    overflow: hidden;
    opacity: 1;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
    cursor: move;

    .titleimage {
        width: 95px;
        height: 30px;
        background-color: #333;
        opacity: 0.9;
        position: absolute;
        float: left;
        z-index: 3;
        left: 0;
        color: white;
        font-size: 14px;
        font-weight: normal;
        text-align: left;
        padding: 4px 10px 3px 33px;

        &::before {
            content: '\e81d';
            font-family: fontello;
            color: $ci-color;
            font-size: 18px;
            padding-right: 5px;
            margin-top: 5px;
            position: absolute;
            top: 0px;
            left: 7px;
        }
    }

    .loader {
        height: 100px;
    }
}


/* 4:3 Format */
.placeholder_image .upload_image_wrapper,
.placeholder_image .upload_loader_wrapper {
    background-color: #dbdbdb;
    position: relative;
    width: 100%;
    padding-top: 74%;
    overflow: hidden;
}

.placeholder_image .upload_loader_wrapper .spinner-circle .loader,
.placeholder_image .upload_loader_wrapper .spinner-circle,
.placeholder_pdf .spinner-circle,
.placeholder_pdf .spinner-circle .loader {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.placeholder_pdf .spinner-circle .loader {
    width: 45px;
}

.placeholder_image img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.placeholder_image .high_size img {
    width: auto;
    height: 100%;
}

.placeholder_image .file_edit .icon-pen,
.placeholder_image .file_edit .icon-close,
.placeholder_pdf .file_edit .icon-close,
.placeholder_pdf .file_edit .icon-pen {
    width: 15px;
    padding: 1px 0px 0px 0px;
    cursor: pointer;
    position: relative;
    height: 22px;
    color: #666;
}

.placeholder_image .file_edit .icon-pen:hover,
.placeholder_image .file_edit .icon-close:hover {
    color: #333;
}

.placeholder_image .file_edit .icon-pen:before,
.placeholder_pdf .file_edit .icon-pen:before {
    margin: 0px;
    position: absolute;
    top: 2px;
    right: 0;
}

.placeholder_image .file_edit .icon-close:before,
.placeholder_pdf .file_edit .icon-close:before {
    margin: 0px;
    position: absolute;
    top: 2px;
    right: 0;
}

.placeholder_image .icon_rotation {
    height: 30px;
    width: 30px;
    margin: 0;
    cursor: pointer;
    background-color: #333;
    opacity: 0.9;
    position: absolute;
    right: 0;
    top: 35%;
    z-index: 5;
    padding: 4px;
}

.placeholder_image .icon_rotation.disabled {
    background-color: #ccc;
}

.placeholder_image .icon_rotation span {
    background-image: url('~/../dist/images/icon_rotation.svg');
    height: 23px;
    width: 23px;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    margin: 0;
    padding: 0;
}

.placeholder_image .icon_rotation:hover span {
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
}

/*pdf_wrapper*/
.pdf_upload_container {
    margin-right: -6%;
}

.placeholder_pdf {
    float: left;
    width: 28%;
    margin: 0 5% 6% 0;
    position: relative;
    overflow: hidden;
    opacity: 1;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
    cursor: move;
}

.placeholder_pdf .upload_pdf_wrapper {
    position: relative;
    width: 100%;
    padding-top: 74%;
    background-color: #dbdbdb;
}

.placeholder_pdf .upload_pdf_wrapper .icon-file-pdf {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
    bottom: 0;
    width: 40px;
    height: 40px;
}

.placeholder_pdf .upload_pdf_wrapper .icon-file-pdf:before {
    font-size: 40px;
    color: #E74C3C;
    margin: 0;
    line-height: 40px;
}

/* Edit_Mode - zustand wenn Titel eingegeben wird */
.placeholder_image.edit_mode .file_edit,
.placeholder_pdf.edit_mode .file_edit {
    border-bottom: 1px solid #ccc;
    height: 25px;
}


.placeholder_image .file_edit input[type="text"],
.placeholder_pdf .file_edit input[type="text"] {
    padding: 0;
    border: 0;
    width: calc(100% - 15px);
    padding-right: 5px;
    float: left;
    height: 24px;
}

.placeholder_image.edit_mode .file_edit input[type=text]::-ms-clear,
.placeholder_pdf.edit_mode .file_edit input[type=text]::-ms-clear {
    display: none;
}

.placeholder_image.loader_box .upload_loader_wrapper + .file_edit span,
.placeholder_pdf.loader_box .upload_pdf_wrapper + .file_edit span {
    width: 100%;
}

.placeholder_image.locked,
.placeholder_pdf.locked {
    opacity: 0.3;
    filter: alpha(opacity=30); /* For IE8 and earlier */
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}

/* --- CLOSE BUTTON */
.placeholder_image.locked .file_delete,
.placeholder_image.edit_mode .file_delete,
.placeholder_pdf.locked .file_delete,
.placeholder_pdf.edit_mode .file_delete {
    opacity: 0;
    right: -31px;
    transition: opacity .25s ease-in-out, right .1s ease-in-out .25s;
    -moz-transition: opacity .25s ease-in-out, right .1s ease-in-out .25s;
    -webkit-transition: opacity .25s ease-in-out, right .1s ease-in-out .25s;
}

.placeholder_image .file_delete,
.placeholder_pdf .file_delete {
    width: 30px;
    height: 30px;
    background-color: #333;
    opacity: 0.9;
    position: absolute;
    float: right;
    z-index: 3;
    right: 0px;
    transition: opacity .25s ease-in-out .1s, right .1s ease-in-out;
    -moz-transition: opacity .25s ease-in-out .1s, right .1s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out .1s, right .1s ease-in-out;
}

@-webkit-keyframes closeButton {
    0% {
        opacity: 0;
        transform: translate3d(0,-30%,0)
    }

    to {
        opacity: 1;
        transform: none
    }
}



.placeholder_image span,
.placeholder_pdf span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    float: left;
    width: calc(100% - 25px);
    padding: 1px 0px 0px 0px;
    margin-bottom: 3px;
}


.placeholder_pdf .file_delete {
    background-color: #dbdbdb00;
    width: 25px;
    height: 22px;
}

.placeholder_image .file_delete::before,
.placeholder_pdf .file_delete::before {
    content: '\e803';
    font-family: fontello;
    color: white;
    font-size: 20px;
    padding: 8px;
    position: relative;
    top: 1px;
}

.placeholder_pdf .file_delete::before {
    font-size: 16px;
    color: #777;
}

.placeholder_image .file_delete:hover {
    color: white;
    text-decoration: none;
}

.placeholder_image .icon-edit {
    float: left;
    width: 10%;
    font-size: 20px;
}

img.in_progress {
    width: 75%;
    margin: 0px;
    padding: 0px;
}

p.in_progress {
    margin: 0px;
    padding: 0px;
    text-align: left;
}


@media (max-width: 980px) {
    .upload_field.big {
        border: 1px solid #333;
    }
}
