/* ---------------------------------------------------------- */
/* - COLORS ------------------------------------------------- */
/* ---------------------------------------------------------- */

$ci-color: #ffb200;

/* ---------------------------------------------------------- */
/* - FONT-COLORS -------------------------------------------- */
/* ---------------------------------------------------------- */

$color_f_02: #333;
$add_link_hover: #e65100;
$stepper_box_label: #ccc;

/* ---------------------------------------------------------- */
/* - BACKGROUND-COLORS -------------------------------------- */
/* ---------------------------------------------------------- */

$textarea_bg: #f7f7f7;

/* ---------------------------------------------------------- */
/* - BORDER-COLORS ------------------------------------------ */
/* ---------------------------------------------------------- */

$input_type_text_border: #ddd;
$icon_border: #ddd;

/* ---------------------------------------------------------- */
/* - SHADOWS ------------------------------------------------ */
/* ---------------------------------------------------------- */
/* -- SHADOW_HEADER*/
$shh_inset: false;
    $shh_horizontal_offset: 0;
    $shh_vertical_offset: 0;
    $shh_blur: 2px;
    $shh_spread: 0;
    $shh_color: rgba(0,0,0,.25);

    /* -- SHADOW_FOOTER - Viewport S*/
    $shf_inset: true;
    $shf_horizontal_offset: 0;
    $shf_vertical_offset: 2px;
    $shf_blur: 6px;
    $shf_spread: 0;
    $shf_color: rgba(0,0,0,.15);


/* ---------------------------------------------------------- */
/* - MEDIA QUERIES ------------------------------------------ */
/* ---------------------------------------------------------- */

    /* -- VIEWPORT M */
    $viewport_m_min_width: 641px;
    $viewport_m_max_width: 980px;

    /* -- VIEWPORT S+M */
    $viewport_m_s_max_width: 980px;

    /* -- VIEWPORT S */
    $viewport_s_max_width: 640px;