/* ----------------------------------------------------------------------------*/
/* -- BUTTON-GROUP  -----------------------------------------------------------*/
/* ----------------------------------------------------------------------------*/

@import '../abstracts/_variables.scss';

.btn_group {
    border: none;
    width: 100%;

    label:hover {
        background: #f5f5f5;
    }

    input[type="radio"] {
        + label {
            margin-left: 0px;
            border: 1px solid #ccc;
            padding: 10px 10px 10px 45px;
            width: 100%;
            text-align: left;
            white-space: inherit;
            font-weight: normal;
            margin-top: -1px;

            @media screen and (max-width: $viewport_s_max_width) {
                margin-bottom: 0 !important;
                margin-top: -1px !important;
                padding: 13px 10px 13px 45px;
            }

            &:first-of-type {
                margin-top: 0px !important;
                border-radius: 5px 5px 0px 0px;
            }

            &:last-of-type {
                border-radius: 0px 0px 5px 5px;
            }

            &::before {
                top: 12px;
                left: 15px;

                @media screen and (max-width: $viewport_s_max_width) {
                    top: 15px;
                }
            }
        }

        &:checked + label {
            background-color: #fff;
            border: 1px solid $ci-color;
            z-index: 20;

            &::after {
                top: 17px;
                left: 20px;

                @media screen and (max-width: $viewport_s_max_width) {
                    top: 20px;
                }
            }
        }
    }
}