/* - ERROR-MESSAGES -------------------------------------------------------------------*/

/* -- SUMMARY LOCKED ERROR ---------------------------------------------------------*/

.summary_locked_error {
    position: absolute;
    z-index: 5;
    padding: 15px 20px;
    border: 3px solid #ffcb81;
    background-color: #ffffcc;
    left: 0;
    right: 0;
    max-width: 270px;
    margin: 0 auto;
    top: 41%;
    -webkit-box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.15);

    span {
        padding: 0 0 0 40px;
        float: left;

        &::before {
            content: '\e822';
            color: #ff9900;
            font-size: 28px;
            margin: 3px 17px 0px -40px;
            font-family: fontello;
            position: relative;
            top: 5px;
        }
    }
}