/* ----------------------------------------------------------------------------*/
/* -- RADIOBOX (STEPPERELEMENT) -----------------------------------------------*/
/* ----------------------------------------------------------------------------*/

input[type="radio"] {
    position: absolute;
    visibility: hidden;
    height: 0;
    width: 0;
    margin-left: -4px;
}

input[type="radio"].radiobox + label {
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 120px;
    height: 120px;
    padding: 5px;
    float: left;
    margin: 0px 30px 30px 0;
    padding: 73px 0px 0px 0px;
    text-align: center;
    display: block;
    font-size: 14px;
    line-height: 18px;
    animation-duration: 0.5s;
    -moz-animation-duration: 0.5s;
    -webkit-animation-duration: 0.5s;
    animation-name: boxshadowin;
    -moz-animation-name: boxshadowin;
    -webkit-animation-name: boxshadowin;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.06), 0 1px 2px rgba(0,0,0,0.12);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.06), 0 1px 2px rgba(0,0,0,0.12);
    box-shadow: 0 1px 3px rgba(0,0,0,0.06), 0 1px 2px rgba(0,0,0,0.12);
}

input[type="radio"].radiobox + label span:first-child {
    position: relative;
    padding: 2px 6px 8px 6px;
    height: 100%;
    display: block;
    vertical-align: middle;
    text-align: center;
}

input[type="radio"].radiobox + label:last-child {
    margin-right: 0px !important;
}

input[type="radio"].radiobox:checked + label {
    border: 1px solid $ci-color;
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.08), 0 3px 6px rgba(0,0,0,0.11);
    -moz-box-shadow: 0 3px 6px rgba(0,0,0,0.08), 0 3px 6px rgba(0,0,0,0.11);
    box-shadow: 0 3px 6px rgba(0,0,0,0.08), 0 3px 6px rgba(0,0,0,0.11);
    animation-duration: 0.5s;
    -moz-animation-duration: 0.5s;
    -webkit-animation-duration: 0.5s;
    animation-name: boxshadowout;
    -moz-animation-name: boxshadowout;
    -webkit-animation-name: boxshadowout;
}

@keyframes boxshadowin {
    from {
        -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.08), 0 3px 6px rgba(0,0,0,0.11);
        -moz-box-shadow: 0 3px 6px rgba(0,0,0,0.08), 0 3px 6px rgba(0,0,0,0.11);
        box-shadow: 0 3px 6px rgba(0,0,0,0.08), 0 3px 6px rgba(0,0,0,0.11);
    }

    to {
        -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.06), 0 1px 2px rgba(0,0,0,0.12);
        -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.06), 0 1px 2px rgba(0,0,0,0.12);
        box-shadow: 0 1px 3px rgba(0,0,0,0.06), 0 1px 2px rgba(0,0,0,0.12);
    }
}

@-moz-keyframes boxshadowin {
    from {
        -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.08), 0 3px 6px rgba(0,0,0,0.11);
        -moz-box-shadow: 0 3px 6px rgba(0,0,0,0.08), 0 3px 6px rgba(0,0,0,0.11);
        box-shadow: 0 3px 6px rgba(0,0,0,0.08), 0 3px 6px rgba(0,0,0,0.11);
    }

    to {
        -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.06), 0 1px 2px rgba(0,0,0,0.12);
        -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.06), 0 1px 2px rgba(0,0,0,0.12);
        box-shadow: 0 1px 3px rgba(0,0,0,0.06), 0 1px 2px rgba(0,0,0,0.12);
    }
}

@-webkit-keyframes boxshadowin {
    from {
        -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.08), 0 3px 6px rgba(0,0,0,0.11);
        -moz-box-shadow: 0 3px 6px rgba(0,0,0,0.08), 0 3px 6px rgba(0,0,0,0.11);
        box-shadow: 0 3px 6px rgba(0,0,0,0.08), 0 3px 6px rgba(0,0,0,0.11);
    }

    to {
        -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.06), 0 1px 2px rgba(0,0,0,0.12);
        -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.06), 0 1px 2px rgba(0,0,0,0.12);
        box-shadow: 0 1px 3px rgba(0,0,0,0.06), 0 1px 2px rgba(0,0,0,0.12);
    }
}

@keyframes boxshadowout {
    from {
        -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.06), 0 1px 2px rgba(0,0,0,0.12);
        -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.06), 0 1px 2px rgba(0,0,0,0.12);
        box-shadow: 0 1px 3px rgba(0,0,0,0.06), 0 1px 2px rgba(0,0,0,0.12);
    }

    to {
        -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.08), 0 3px 6px rgba(0,0,0,0.11);
        -moz-box-shadow: 0 3px 6px rgba(0,0,0,0.08), 0 3px 6px rgba(0,0,0,0.11);
        box-shadow: 0 3px 6px rgba(0,0,0,0.08), 0 3px 6px rgba(0,0,0,0.11);
    }
}

@-moz-keyframes boxshadowout {
    from {
        -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.06), 0 1px 2px rgba(0,0,0,0.12);
        -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.06), 0 1px 2px rgba(0,0,0,0.12);
        box-shadow: 0 1px 3px rgba(0,0,0,0.06), 0 1px 2px rgba(0,0,0,0.12);
    }

    to {
        -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.08), 0 3px 6px rgba(0,0,0,0.11);
        -moz-box-shadow: 0 3px 6px rgba(0,0,0,0.08), 0 3px 6px rgba(0,0,0,0.11);
        box-shadow: 0 3px 6px rgba(0,0,0,0.08), 0 3px 6px rgba(0,0,0,0.11);
    }
}

@-webkit-keyframes boxshadowout {
    from {
        -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.06), 0 1px 2px rgba(0,0,0,0.12);
        -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.06), 0 1px 2px rgba(0,0,0,0.12);
        box-shadow: 0 1px 3px rgba(0,0,0,0.06), 0 1px 2px rgba(0,0,0,0.12);
    }

    to {
        -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.08), 0 3px 6px rgba(0,0,0,0.11);
        -moz-box-shadow: 0 3px 6px rgba(0,0,0,0.08), 0 3px 6px rgba(0,0,0,0.11);
        box-shadow: 0 3px 6px rgba(0,0,0,0.08), 0 3px 6px rgba(0,0,0,0.11);
    }
}

input[type="radio"].radiobox + label::before {
    border: 1px solid #aaa;
    border-radius: 50%;
    display: inline-block;
    vertical-align: top;
    position: absolute;
    content: '';
    top: 8px;
    left: 10px;
    height: 18px;
    width: 18px;
}

input[type="radio"].radiobox + label::after {
    left: 15px;
    top: 13px;
}

input[type="radio"].radiobox:checked + label::after {
    left: 15px;
    top: 13px;
}

input[type="radio"].radiobox + label img {
    height: 26px;
    width: 26px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

input[type="radio"].radiobox + label i {
    height: 50px;
    width: 50px;
    position: absolute;
    top: 19px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    font-size: 30px;
    background-color: #eee;
    border-radius: 50%;
}


/* Icons im Stepper */
input[type="radio"].radiobox + label i::before {
    position: absolute;
    font-size: 34px;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #a5a5a5;
    line-height: 0;
}

input[type="radio"].radiobox + label i.icon-privater-anbieter::before,
input[type="radio"].radiobox + label i.icon-gewerblicher-anbieter::before {
    font-size: 35px;
    margin: -3px auto;
}

input[type="radio"].radiobox + label i.icon-wohnung::before {
    font-size: 33px;
}

input[type="radio"].radiobox + label i.icon-sonstiges::before {
    margin: -2px auto;
}

input[type="radio"].radiobox + label i.icon-haus::before {
    margin: -2px auto;
}

input[type="radio"].radiobox + label i.icon-nachmieter::before {
    font-size: 38px;
}

input[type="radio"].radiobox + label i.icon-ausland::before {
    font-size: 38px;
}

input[type="radio"].radiobox + label span.radio_number {
    height: 43px;
    width: 43px;
    background-color: #eee;
    border-radius: 50%;
    position: absolute;
    top: 24px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    font-size: 30px;
    line-height: 42px;
}

/*  -- MEDIA-QUERY < 980 RADIOBOX -----------------------------------------------------*/
@media screen and (min-width: 980px) {

    .multicol_l_2 input[type="radio"].radiobox + label {
        width: calc(100% / 2 - 15px);
        -webkit-column-gap: 20px;
        -moz-column-gap: 20px;
        column-gap: 20px;
    }

    .multicol_l_2 input[type="radio"].radiobox + label:nth-of-type(2n+0) {
        margin-right: 0;
    }

    .multicol_l_3 input[type="radio"].radiobox + label {
        width: calc(100% / 3 - 17px);
        -webkit-column-gap: 20px;
        -moz-column-gap: 20px;
        column-gap: 20px;
    }

    .multicol_l_3 input[type="radio"].radiobox + label:nth-of-type(3n+0) {
        margin-right: 0;
    }
}

/*  -- MEDIA-QUERY < 980 RADIOBOX -----------------------------------------------------*/
@media screen and (max-width: 980px) and (min-width: 641px) {

    .multicol_m_2 input[type="radio"].radiobox + label {
        width: calc(100% / 2 - 15px);
        -webkit-column-gap: 20px;
        -moz-column-gap: 20px;
        column-gap: 20px;
    }

    .multicol_m_2 input[type="radio"].radiobox + label:nth-of-type(2n+0) {
        margin-right: 0;
    }

    .multicol_m_3 input[type="radio"].radiobox + label {
        width: calc(100% / 3 - 17px);
        -webkit-column-gap: 20px;
        -moz-column-gap: 20px;
        column-gap: 20px;
    }

    .multicol_m_3 input[type="radio"].radiobox + label:nth-of-type(3n+0) {
        margin-right: 0;
    }
}

/*  -- MEDIA-QUERY < 640 RADIOBOX -----------------------------------------------------*/
@media screen and (max-width: 640px) {

    input[type="radio"].radiobox + label {
        width: calc(50% - 10px);
    }

    input[type="radio"].radiobox + label:nth-of-type(2n+0) {
        margin-right: 0 !important;
    }
}
